<p>{{ __ "The Gitter webapp is available in all modern browsers, and there are a variety of Matrix clients available. We recommend Element for desktop, Android and iOS native apps."}}</p>

<p>
  <a class="btn outline" href="{{ elementUrl }}" id="osx-download">{{ __ "Gitter Web"}}</a>
  <a class="btn outline" href="https://element.io/download">{{ __ "Download Element" }}</a>
</p>

<p>
  After downloading Element, be sure to specify <code>gitter.im</code> as the homeserver.
</p>
