<footer class="chat-input chat-input-nli" id="chat-input-wrapper">
  <a href="/login?action=login" target="_top" class="chat-input__btn">
  Sign in to start talking
  </a>
  {{#if matrixRoomLink}}
    <a href="{{matrixRoomLink}}" class="chat-input__btn chat-input__btn--matrix" target="_blank" rel="nofollow noopener noreferrer">
    <img src='{{cdn "images/svg/matrix-favicon-logo-white.svg"}}' aria-hidden="true">
    Join via Matrix
    </a>
  {{/if}}
</footer>
